<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <title>pepper</title>
</head>
<body>

    <div class="container">
        <ul class="list-group">
            {% for line in lines %}
            <li class="list-group-item">
                <h4 class="list-group-item-heading">
                    <a target="_blank" href="http://douban.com{{line[2].replace('about', '')}}">{{line[1]}}</a>

                    {% if len(line) == 5 %}
                    <span>{{datetime.datetime.fromtimestamp(float(line[4])).strftime('%m-%d %H:%M')}}</span>
                    {% end %}

                    <a target="_blank" href="/deny/{{line[2].replace('/about', '')[8:-1]}}" class="btn btn-danger">X</a>
                </h4>
                <p class="list-group-item-text">
                    <a target="_blank" href="{{line[0].replace('m.', '')}}">{{line[3]}}</a>
                </p>
            </li>
            {% end %}
        </ul>

    </div>


</body>
</html>
