<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">

    <title>pepper</title>
</head>
<body>

    <div class="container">
        <div class="btn-group" role="group" style="margin: 20px 0">
            <a href="/pepper" target="_self" type="button" class="btn btn-default">刷新</a>
            <a href="/search" target="_blank" type="button" class="btn btn-default">查找</a>
        </div>

        {% for line in lines %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if len(line) == 5 %}
                <span>{{datetime.datetime.fromtimestamp(float(line[4])).strftime('%m-%d %H:%M')}}</span>
                {% end %}

                <a target="_blank" href="http://douban.com{{line[2].replace('about', '')}}">{{line[1]}}</a>

                <a target="_blank" href="/deny/{{line[2].replace('/about', '')[8:-1]}}" class="btn btn-danger btn-xs pull-right">X</a>
            </div>
            <div class="panel-body">
                <a target="_blank" href="{{line[0].replace('m.', '')}}">{{line[3]}}</a>
            </div>
        </div>
        {% end %}
    </div>


</body>
</html>
