<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="http://libs.baidu.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
    <script src="http://libs.baidu.com/jquery/2.0.0/jquery.min.js"></script>

    <title>pepper</title>
</head>
<body>

    <div class="container" style="padding-top: 100px">
        <nav class="navbar navbar-default navbar-fixed-top">
            <div class="container-fluid">
                <div class="navbar-header">
                    <div class="navbar-brand">
                        Pepper
                        <a href="/search" target="_blank" class="btn btn-default navbar-btn">查找</a>
                        <a href="/" target="_blank" class="btn btn-danger navbar-btn">首页</a>
                    </div>
                </div>
            </div>
        </nav>


        {% for line in lines %}
        <div class="panel panel-default">
            <div class="panel-heading">
                {% if line[4] %}
                <span>{{datetime.datetime.fromtimestamp(float(line[4])).strftime('%m-%d %H:%M')}}</span>
                {% end %}

                <a class="btn btn-xs btn-info" target="_blank" href="http://douban.com/people/{{line[2]}}/">{{line[1]}}</a>

                <a class="btn btn-xs btn-primary" target="_blank" href="/history?q={{line[2]}}">历史</a>

                <div deny_id="{{line[2]}}" class="btn btn-danger btn-xs pull-right pp-delete">X</div>
            </div>
            <div class="panel-body">
                <a class="read" mid="{{line[5]}}" target="_blank" href="http://douban.com/group/topic/{{line[0]}}">{{line[3]}}</a>
            </div>
        </div>
        {% end %}
    </div>

    <script>
        $('.pp-delete').on('click', function(){
            $.get('/deny/'+$(this).attr('deny_id'), function(data){
            });
            $(this).parent().parent().hide();
        });

        $('.read').on('click', function(){
            var target = $(this)
            $.get('/read/'+$(this).attr('mid'), function(data){
                target.parent().parent().hide();
            });
        });
    </script>
</body>
</html>
